# Dependencias
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Producción
build/
dist/

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
pubsub-debug.log*
ui-debug.log*
firebase-export*

# Genkit
.genkit/
genkit-debug.log*

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Otros
.DS_Store
*.pem
